* {
  font-family: 'Source Sans Pro', sans-serif;
}

header {
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 5vw 0 5vw;
}

#default-header {
  background-color: #bb54ff;
  color: white;
}

#summer-header {
  background-color: #00c732;
  color: white;
}

#summer-body {
  background-color: #d8ffe2;
}

#fall-header {
  background-color: #c77b00;
  color: white;
}

#fall-body {
  background-color: #ffe796;
}

#winter-header {
  background-color: #004b8d;
  color: white;
}

#winter-body {
  background-color: #d3feff;
}

#spring-header {
  background-color: #ffff00;
  color: black;
}

#spring-body {
  background-color: #abe6ff;
}

h1 {
  font-family: 'Righteous', cursive;
}

body {
  background-color: #f6e8ff;
}

.form {
  margin-top: 3vw;
  display: flex;
  flex-direction: column;
  align-items:center;
  background-color: #e5e5e5;
  border: solid #636363 5px;
  border-radius: 30px;
  padding-bottom: 15px;
}

.form h3 {
  color: white;
  background-color: #757575;
  border: solid #5c5c5c 2px;
  border-radius: 30px;
  padding: 5px 10px 5px 10px;
}

#new-board-form {
  margin-right: 4vw;
}

#new-card-form {
  margin-left: 4vw;
}


